
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');

html {
    background-color: black;
    color: white;
    font-family: "Afacad Flux", serif;
    display: grid;
    place-items: center;  
}

main {
    display: block;
    margin: 0 auto;
}

h1 {
    text-align: center;
    font-weight: bolder;
    font-size: 140px;
}

img {
    -webkit-user-drag: none;
    transition: transform 0.8s;
    position: absolute;
    height: 200px;
    width: 200px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transform-origin: center;
}

img:hover {
    width: 205px;
    height: 205px;
    cursor: pointer;
}

#prompt {
    position: absolute;
    text-align: center;
    font-size: 24px; 
    top: 800px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0
}

img.shrink{
    width: 195px;
    height: 195px;
}

.celebrate {
    animation: bounce 0.5s infinite alternate;
}

@keyframes bounce {
    0% { transform-origin: scale(1); }
    100% { transform-origin: scale(1.1); }
}
